@import url(http://fonts.googleapis.com/css?family=Titillium+Web|Jura);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato);


/*  GENERAL STUFF */
.padding-10 {
	padding: 10px;
	padding-left:10px;
}

.alignright {
	float: right;
}

.trun {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.trun > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* BODY */
body {
	margin-top: 67px !important;
	background-color: #D3D3D3 !important;
}




/* NAVBAR */
a.navbar-brand {
	color: white !important;
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
	font-weight: bold;
}
.collapse ul li a {
	color: white !important;
	font-family: "Jura", sans-serif;
	font-size: 20px;
}
.collapse .dropdown-menu a{
	color: black !important;
}
.navbar-inverse {
	background-color:  #9C0000 !important;
	border-bottom: solid 1px black !important;
}
#bygames {
	font-size: 20px;
}



/* JUMBOTRON HOME */
.jumbotron {
	background: #AD9393 !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron h1{
	font-family: 'Titillium Web', sans-serif;
	color: white !important;
	font-size: 100px !important;
	margin-top: 0px;

}
.jumbotron p {
	font-family: 'Titillium Web', sans-serif;
	color: white;
	font-size: 30px;
}
.jumbotron p.homejumbop2 {
	font-family: 'Titillium Web', sans-serif;
	color: white;
	font-size: 25px;
}
#myCarousel {
	width: 320px;
	height: 180px;
	float: right;
	border: 2px solid;
}
.carousel-inner img {
	height: 180px;
}
#heightlimitpls {
	height: 178px;
}

/* INFORMATION HOME */
.offers {
	background: #9C0000;
	border: 1px solid;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.offers h4 {
	color: white;
	font-size: 30px;
}

.infotitle {
	background: #AD9393;
	border: 1px solid;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 5px;
}

.infotitle h2 {
	color: white;
	font-size: 40px;
}

.infotitle2 {
	background: #AD9393;
	border: 1px solid;
	padding-left: 6px;
	padding-top: 11px;
	padding-bottom: 9px;

}

.infotitle2 h2 {
	color: white;
	font-size: 28px;
}

.offertext {
	background: #efefef;
	color: black;
	border: 1px solid;
	border-bottom: 3px solid;
}
.greencheck .alignright {
	color: green;
}

/* FOOTER */
#footer {
	background: #262626;
	margin-top: 50px;
	padding-top: 12px;
}
#footer h5 {
	color: white;
	font-size: 18px;
}
.fade-gray {
	color: #777777;
}
#footerfooter {
	font-size: 14px;
	margin-top: 5px;
}



/* GAMES PAGE */
.game {
	padding-top: 10px;
	padding-top: 20px;
}

.gametitle {
	background: #9C0000;
	border: 1px solid;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.gametitle h4 {
	color: white;
	font-size: 16px;
}
.gametitle p {
	color: #AD9393;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
.gamepic {
	background: #efefef;
	color: black;
	border: 1px solid;
	border-bottom: 3px solid;
	height: 300px;
	width:100%;
}
.gamepics {
	width: 100%;
	height: 100%;
}

#twitchconnectbtn {
	margin-top: 10px;
	padding-top: 0;
}


/* STREAMPAGES */
.streamthumb{
	width: 240px;
	margin: 10px;
	border: 3px solid;
	border-color: #9C0000;
}
.actualthumb{
	width: 100%;
}
.streamtitle {
	margin:10px;
	font-weight: bold;
	text-align: normal;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.viewersandchannel {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	padding-top: 0px;
}
.viewersandchannel strong {
	color: #9C0000;
}
.streampic {
	background: #efefef;
	color: black;
	border: 1px solid;
	border-bottom: 3px solid;

	width:100%;
}

/* CATEGORY SELECT */
.categs {
	border: 1px solid;
	border-color: black;
	background: #AD9393;
	color: white;
}
.categs a {
	color: white;
}
.categs label {
	margin-left: 5px;
	margin-bottom: 2px;
	padding-bottom: 0px;
	margin-top: 2px;
}
.categhead {
	border-top: 3px solid;
	border-bottom: 1px solid;
	background-color: #9C0000;
	border-color: black;
}
.categsort {
	border-bottom: 1px solid;
	border-color: black;
}
.streamtags {
	margin-left: 5px;
	margin-bottom: 7px;
}
.streamtags span{
	background-color: #777777;
	color: white;
	font-size: 12px;
	margin-left:4px;
	margin-right: 3px;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px;
}
.activecateg {
	background-color: green !important;
}
#filter label {
	cursor: pointer;
	width: 100%;
	padding: 2px;
	text-align: center;
	border: 1px solid;
	border-radius: 1em;
	background-color: white;

}
#filter input:checked + label {
	background-color: #AD9393;
	color:white;
	padding: 2px;
	text-align: center;
	border: 1px solid black;
	border-radius: 1em;
}

/* CONTACT  FORM */

.conlabel input,
.conlabel textarea {
	display:block;
}
.conlabel input,
.conlabel textarea {
	padding:10px;
	width: 500px;
	box-sizing: border-box;
	max-width: 750px;
}
.conlabel input,
.conlabel textarea {
	margin-top: 10px;
}
.conlabel input[type="submit"],
button {
	width:auto;
}
.muted {
	color:#aaa;
}
.contactus {
	width: 100%;
	max-width:500px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding: 30px 20px;
	box-sizing: border-box;
	margin: 0 auto;

}
.panel {
	border: 1px solid #ddd;
	background: #f0f0f0;
	margin-bottom: 20px;
	padding: 20px;
}
.conlabel {
	margin-bottom: 20px;
}
.redalert {
	color: #B02020;
}
